.container {
    display: grid;
    grid-template-columns: 200px 300px 100px 50px 150px;
    grid-template-rows: 200px 300px;
}

.item {
    border: 5px solid violet;
    counter-increment: item;
}


.item::before {
    content: counter(item);
}